# Test Report

Generated: 2026-09-21 10:31 +03

```
TAP version 13
# Subtest: addition
ok 1 - addition
  ---
  duration_ms: 0.960612
  type: 'test'
  ...
# Subtest: subtraction
ok 2 - subtraction
  ---
  duration_ms: 0.13324
  type: 'test'
  ...
# Subtest: multiplication
ok 3 - multiplication
  ---
  duration_ms: 0.123682
  type: 'test'
  ...
# Subtest: division
ok 4 - division
  ---
  duration_ms: 0.833744
  type: 'test'
  ...
# Subtest: division by zero
ok 5 - division by zero
  ---
  duration_ms: 0.276088
  type: 'test'
  ...
# Subtest: negative numbers
ok 6 - negative numbers
  ---
  duration_ms: 0.136827
  type: 'test'
  ...
# Subtest: float division
ok 7 - float division
  ---
  duration_ms: 0.193262
  type: 'test'
  ...
# Subtest: unknown operator throws
ok 8 - unknown operator throws
  ---
  duration_ms: 0.13889
  type: 'test'
  ...
1..8
# tests 8
# suites 0
# pass 8
# fail 0
# cancelled 0
# skipped 0
# todo 0
# duration_ms 64.854483
```
