# Test Report

Generated: 2026-09-21 10:56 +03

```
TAP version 13
# Subtest: addition
ok 1 - addition
  ---
  duration_ms: 0.69489
  type: 'test'
  ...
# Subtest: subtraction
ok 2 - subtraction
  ---
  duration_ms: 0.096983
  type: 'test'
  ...
# Subtest: multiplication
ok 3 - multiplication
  ---
  duration_ms: 0.077935
  type: 'test'
  ...
# Subtest: division
ok 4 - division
  ---
  duration_ms: 0.635452
  type: 'test'
  ...
# Subtest: division by zero
ok 5 - division by zero
  ---
  duration_ms: 0.210822
  type: 'test'
  ...
# Subtest: negative numbers
ok 6 - negative numbers
  ---
  duration_ms: 0.121771
  type: 'test'
  ...
# Subtest: float division
ok 7 - float division
  ---
  duration_ms: 0.140879
  type: 'test'
  ...
# Subtest: unknown operator throws
ok 8 - unknown operator throws
  ---
  duration_ms: 0.095061
  type: 'test'
  ...
1..8
# tests 8
# suites 0
# pass 8
# fail 0
# cancelled 0
# skipped 0
# todo 0
# duration_ms 342.415208
```
